<div >
    <div class="card" >
        <div class="card-header">  Bandeja de Entrada   </div>
        <div class="card-block" style="padding:3">
            <div id="loader" style="display: none">
                <i class="fa-spinner fa-spin fa-2x"> </i> Getting values
            </div>
            <div class="card-title">
                <input type="text"  id="quickFilterInput" #filtroGlobal  placeholder="Buscar..."/>
                <span *ngFor="let bande of bandejas">
                    <label><input type="radio" name="bande" [value]="bande.value" [(ngModel)]="bandeja" checked (change)="cargarBandeja(bande.value)"/> {{bande.display}}</label>                    
                    
                </span>
            </div>
      <!--<div class="col-lg-7" style="text-align:right">
                <button ng-click="RecepcionarTramite()"  ng-hide="recibido"
                        class="btn btn-succes" ng-disabled="btnRecibir">
                    <i class="glyphicon glyphicon-plus"></i> Recibir
                </button>
                <button ng-click="DerivarTramiteMov()"
                        class="btn btn-succes">
                    <i class="glyphicon glyphicon-plus"></i> Derivar
                </button>
                <button ng-click="ArchivarTramiteMov()"
                        class="btn btn-succes">
                    <i class="glyphicon glyphicon-plus"></i> Archivar
                </button>
            </div>-->
            <div class="card-text">          
                <!--<ag-grid-ng2 #agGrid style="height:250px;width: 100%" class="ag-blue "
                    [gridOptions]="gridOptions"
                    [columnDefs]="columnDefs"               
                    [rowData]="rowData"
                    enableSorting
                    enableFilter 
                    rowSelection="single"
                    (rowSelected)="onRowSelected($event)"              
                    >

                </ag-grid-ng2>-->
                <p-dataTable [value]="pendientesPresentar" [rows]="10" [paginator]="true"  
                [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal" scrollable="true"  scrollWidth="100%"
                selectionMode="single" [(selection)]="selectedPendientePresentar" (onRowSelect)="onRowSelect($event)">
                    <p-column field="TramNumero" header="TramNumero" [sortable]="true" [style]="{'width':'5.5em'}"></p-column>
                    <p-column field="NombreEmisor" header="NombreEmisor" [sortable]="true" [style]="{'width':'18em'}"></p-column>
                    <p-column field="TramFecha" header="TramFecha" [sortable]="true" [style]="{'width':'8em'}"></p-column>
                    <p-column field="TramAsunto" header="TramAsunto" [sortable]="true" [style]="{'width':'30em'}"></p-column>
                    <p-column field="TiTrAbrevia" header="TiTrAbrevia" [sortable]="true"></p-column>
                     <p-column field="TrMoFecha" header="TrMoFecha" [sortable]="true"></p-column>
                </p-dataTable>

            </div>
          </div>
    </div>
    <div class="card" > <!-- ng-controller="ng-AngularController" ng-init="cargar()"-->
        <div class="card-header">  Movimientos de Tramite   </div>
        <div class="card-block" style="padding:3">
           <!-- <input placeholder="Buscar..." type="text" ng-model="gridOptions.quickFilterText" />-->

           <!-- <div ag-grid="gridOptions2" style="height:250px" class="ag-blue"></div>-->
         <div class="card-text">  
          <!-- <ag-grid-ng2 #agGrid style="height:250px;width: 100%" class="ag-blue"
                [gridOptions]="gridOptions2"
                [columnDefs]="columnDefs2"               
                [rowData]="rowData2"
                enableSorting
                enableFilter 
                rowSelection="single"
                              
                >
            </ag-grid-ng2>-->
             <p-dataTable [value]="pendientesPresentar2" [rows]="10" [paginator]="true"  
                [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal" scrollable="true"  scrollWidth="100%"
                >
                    <p-column field="nombreUsu" header="nombreUsu" [sortable]="true" [style]="{'width':'9.5em'}"></p-column>
                    <p-column field="TiTrAbrevia" header="TiTrAbrevia" [sortable]="true" [style]="{'width':'6em'}"></p-column>
                    <p-column field="TrMoFecha" header="TrMoFecha" [sortable]="true" [style]="{'width':'8em'}"></p-column>
                    <p-column field="Persona" header="Persona" [sortable]="true" [style]="{'width':'10em'}"></p-column>
                    <p-column field="TrMoObserva" header="TrMoObserva" [sortable]="true"></p-column>                   
                </p-dataTable>
         </div>  
        </div>
   
    </div>
</div>