<div >
    <div class="card" >
        <div class="card-header">  Bandeja de Entrada   </div>
        <div class="card-block" style="padding:3">
            <div id="loader" style="display: none">
                <i class="fa-spinner fa-spin fa-2x"> </i> Getting values
            </div>
            <div class="card-title">
                <input type="text"  id="quickFilterInput" #filtroGlobal  placeholder="Buscar..."/>
                <span *ngFor="let bande of bandejas">
                    <label><input type="radio" name="bande" [value]="bande.value" [(ngModel)]="bandeja" checked (change)="cargarBandeja(bande.value)"/> {{bande.display}}</label>                    
                    
                </span>
                 <button (click)="recepcionarTramite()"  ng-hide="recibido"
                         pButton icon="fa-arrow-circle-down" label="Recibir">                   
                </button>
                <button (click)="derivarTramiteMov()"
                         pButton icon="fa-users" label="Derivar"> 
                   
                </button>
                <button (click)="archivarTramiteMov()"
                        pButton icon="fa-files-o" label="Archivar">                    
                </button>
            </div>
            <div class="card-text">          
                <p-dataTable [value]="pendientesPresentar" [rows]="10" [paginator]="true"  
                [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal" scrollable="true"  scrollWidth="100%"
                selectionMode="single" [(selection)]="selectedPendientePresentar" (onRowSelect)="onRowSelect($event)">
                    <p-column field="TramNumero" header="TramNumero" [sortable]="true" [style]="{'width':'5.5em'}"></p-column>
                    <p-column field="NombreEmisor" header="NombreEmisor" [sortable]="true" [style]="{'width':'18em'}"></p-column>
                    <p-column field="TramFecha" header="TramFecha" [sortable]="true" [style]="{'width':'8em'}"></p-column>
                    <p-column field="TramAsunto" header="TramAsunto" [sortable]="true" [style]="{'width':'30em'}"></p-column>
                    <p-column field="TiTrAbrevia" header="TiTrAbrevia" [sortable]="true"></p-column>
                     <p-column field="TrMoFecha" header="TrMoFecha" [sortable]="true"></p-column>
                </p-dataTable>

            </div>
          </div>
    </div>
    <div class="card" > <!-- ng-controller="ng-AngularController" ng-init="cargar()"-->
        <div class="card-header">  Movimientos de Tramite   </div>
        <div class="card-block" style="padding:3">
           <!-- <input placeholder="Buscar..." type="text" ng-model="gridOptions.quickFilterText" />-->
         <div class="card-text">  
             <p-dataTable [value]="pendientesPresentar2" [rows]="10" [paginator]="true"  
                [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal" scrollable="true"  scrollWidth="100%"
                >
                    <p-column field="nombreUsu" header="nombreUsu" [sortable]="true" [style]="{'width':'9.5em'}"></p-column>
                    <p-column field="TiTrAbrevia" header="TiTrAbrevia" [sortable]="true" [style]="{'width':'6em'}"></p-column>
                    <p-column field="TrMoFecha" header="TrMoFecha" [sortable]="true" [style]="{'width':'8em'}"></p-column>
                    <p-column field="Persona" header="Persona" [sortable]="true" [style]="{'width':'10em'}"></p-column>
                    <p-column field="TrMoObserva" header="TrMoObserva" [sortable]="true"></p-column>                   
                </p-dataTable>
         </div>  
        </div>
   
    </div>
</div>

<!--Ventana modal de Derivacion-->
<p-dialog [header]="headerTitle" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" contentHeight="200"  >
	<div class="form-group row ">
		<div class="form-group">
			<label for="lblFecha" class="col-lg-2 col-form-label col-form-label-sm">Derivar a:</label>
			<div class="col-lg-6">
				<input type="text"
						class="form-control form-control-md"
						[(ngModel)]="nombrePersonal"
						ng-required="true"  placeholder="Busqueda de Personal" #searchBox  id="search-box" 
						(keyup)="searchPersonalByTerm($event,searchBox.value,op3)">
						<!--aqui llama a OverlayPanel que esta mas abajo-->
			</div>
			<div class="col-lg-4">
				<input type="text"
						class="form-control form-control-md"
						[(ngModel)]="nombreCAPS"
						ng-required="true" placeholder="CAPS " disabled>
			</div>
		</div>
		<div class="form-group">
			<label for="lblFecha" class="col-lg-2 col-form-label col-form-label-sm">Accion:</label>
			<div class="col-lg-3">
				<select  name="TipoAccion1" [(ngModel)]="tramiteMov.TiAcId1"
						class="form-control form-control-md" >
					<option *ngFor="let tipoAccion of tipoAcciones1" [ngValue]="tipoAccion.Id">{{tipoAccion.TiAcNombre}}</option>
				</select>

			</div>
			<div class="col-lg-3">
				<select  name="TipoAccion2" [(ngModel)]="tramiteMov.TiAcId2"
						class="form-control form-control-md" >
					<option *ngFor="let tipoAccion of tipoAcciones2" [ngValue]="tipoAccion.Id">{{tipoAccion.TiAcNombre}}</option>
				</select>			
			</div>
			<div class="col-lg-4">
				<select  name="TipoAccion3" [(ngModel)]="tramiteMov.TiAcId3"
						class="form-control form-control-md" >
					<option *ngFor="let tipoAccion of tipoAcciones3" [ngValue]="tipoAccion.Id">{{tipoAccion.TiAcNombre}}</option>
				</select>	
				
			</div>
		</div>
		<div class="form-group">
			<label for="lblFecha" class="col-lg-2 col-form-label col-form-label-sm">Observacion:</label>
			<div class="col-lg-10">
				<textarea class="col-lg-10 form-control" [(ngModel)]="tramiteMov.TrMoObserva"></textarea>
			</div>
		</div>

	</div>
	<!--Pie de pagina-->
	<footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			 <button type="button"                    
					(click)="derivarTramite()"
					ng-disabled="form.$invalid"
                    class="btn btn-success">
                Guardar
            </button>
		</div>
	</footer>
 </p-dialog>
  <!--esto es para la consulta-->
<p-overlayPanel #op3 >
	<!--<div class="search-resultado">-->
		<div *ngFor="let personal of personalesSearch | async "
			(click)="selectPersonal(personal,op3)" class="search-resultado" >
		{{personal.nombrecom}}
		</div>
	<!--</div>-->
</p-overlayPanel>