<div class="card">
    <div class="card-header">
       <div id="loader" style="display: none">
            <i class="fa-spinner fa-spin fa-2x"> </i> Getting values
       </div>
            <span >Pendientes de Envio</span>       
    </div>
    <div class="card-block" style="padding:3">
       <div class="card-title ">
           <input placeholder="Buscar..." type="text"  id="quickFilterInput" />
           <span class="text-xs-right" >
              <button (click)="addTramite()"
                   class="btn btn-succes" >
                  <i class="glyphicon glyphicon-plus"></i> Nuevo Tramite
              </button>
           </span>
       </div>
       <div class="card-text">
            <p-dataTable [value]="enviosPresentar" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                <!--<p-column *ngFor="let col of columnDefs" [field]="col.field" [header]="col.header"></p-column>-->
               
                <p-column field="TramNumero" header="TramNumero" [style]="{'width':'5.5em'}"></p-column>
                <p-column field="NombreEmisor" header="NombreEmisor" [style]="{'width':'18em'}"></p-column>
                <p-column field="TramFecha" header="TramFecha" [style]="{'width':'8em'}"></p-column>
                <p-column field="TramAsunto" header="TramAsunto"[style]="{'width':'30em'}"></p-column>
                <p-column field="TiDocAbrevia" header="TiDocAbrevia"></p-column>
            </p-dataTable>
       </div>
    </div>
</div>


