<div class="card">
	<div class="card-header">
		<div id="loader" style="display: none">
			<i class="fa-spinner fa-spin fa-2x"> </i> Getting values
		</div>
		<span >Pendientes de Envio</span>
	</div>
	<div class="card-block" style="padding:3">
		<div class="card-title ">
			<input placeholder="Buscar..." type="text"  id="gb1" #filtroGlobal />
			<span class="text-xs-right" >
				<button (click)="addEmitido()" pButton icon="fa-file-text-o" label="Nuevo"
					class="btn btn-succes" >                   
				</button>
			</span>
		</div>
		<div class="card-text">
			<p-dataTable [value]="enviosPresentar" [rows]="10" [paginator]="true"  
			[pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="filtroGlobal" scrollable="true"  scrollWidth="100%"
			selectionMode="single" [(selection)]="selectedEnvioPresentar" (onRowSelect)="onRowSelect($event)">
				<!--<p-column *ngFor="let col of columnDefs" [field]="col.field" [header]="col.header"></p-column>-->
				<p-column styleClass="col-button" [style]="{'width':'6em'}">
					<template pTemplate="header">
						<button type="button" pButton icon="fa-refresh"></button>
					</template>
					<template let-col let-envioPresentar="rowData" pTemplate="body" >
						<button type="button" pButton (click)="editEmitido(envioPresentar.Id)" icon="fa-pencil-square-o" class="btn"></button>
						<button type="button" pButton (click)="deleteCar(envioPresentar.Id)" icon="fa-trash" class="btn"></button>
						<span>{{envioPresentar.Id}} </span>
					</template>
				</p-column>
				<p-column field="TramNumero" header="TramNumero" [sortable]="true" [style]="{'width':'5.5em'}"></p-column>
				<p-column field="NombreEmisor" header="NombreEmisor" [sortable]="true" [style]="{'width':'18em'}"></p-column>
				<p-column field="TramFecha" header="TramFecha" [sortable]="true" [style]="{'width':'8em'}"></p-column>
				<p-column field="TramAsunto" header="TramAsunto" [sortable]="true" [style]="{'width':'30em'}"></p-column>
				<p-column field="TiDocAbrevia" header="TiDocAbrevia" [sortable]="true"></p-column>
			</p-dataTable>
		</div>
	</div>
</div>
<p-dialog [header]="headerTitle" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" contentHeight="400"  >
	<form name="form">
		<div *ngIf="tramiteEnvio">
			<div class="form-group row ">
				<div class="form-group ">
					<label for="lblFecha" class="col-lg-2 col-form-label col-form-label-sm">Fecha</label>
					<div class="col-lg-3">
						<input type="date"  name="TramFechaDoc"
								class="form-control form-control-sm"
								[(ngModel)]="tramiteEnvio.TramFechaDoc"
								
								>
					</div>
 
					<label for="lblNumero" class="col-lg-2 col-form-label col-form-label-sm">Tipo/Numero</label>
					<div class="col-lg-2">
						<select  name="tipoDocumento"
								[(ngModel)]="tramiteEnvio.TiDoId"
								 class="form-control form-control-md" >
							<option  *ngFor="let tipoDocumento of tipoDocumentos" [ngValue]="tipoDocumento.Id">{{tipoDocumento.TiDocNombre}}</option>
						</select>   
						<!--{{tramiteEnvio.TiDoId}}-->
					</div>
					<div class="col-lg-3">
						<input type="text" name="TramNumero"
								class="form-control form-control-md"
								[(ngModel)]="tramiteEnvio.TramNumero"
								placeholder="Numero Documento ">
					</div>
				</div>
				<div class="form-group">
						<label for="lblRemitente" class="col-lg-2 col-form-label col-form-label-sm">Remitente</label>
						<div class="col-lg-10">
							<select  name="TramCodEmisor" [(ngModel)]="tramiteEnvio.TramCodEmisor"
									class="form-control form-control-md" >
								<option *ngFor="let personalByArea of personalByAreas" [ngValue]="personalByArea.id_persona">{{personalByArea.nombrecom}}</option>
							</select>

						</div>
						
				</div>
				<div class="form-group">
					<label for="lblAsunto" class="col-lg-2 col-form-label col-form-label-sm">Asunto</label>
					<div class="col-lg-10">
						<input type="text"  name="TramAsunto"
								class="form-control form-control-md"
								[(ngModel)]="tramiteEnvio.TramAsunto"
								>
					</div>
				</div>
				<div class="form-group">
					<label for="lnlReferencia" class="col-lg-2 col-form-label col-form-label-sm">Referencia</label>
					<div class="col-lg-10">
						<input type="text" name="TramDocRefere"
								class="form-control"
								[(ngModel)]="tramiteEnvio.TramDocRefere"
								>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-lg-2 col-form-label col-form-label-sm">Observaciones</label>
					<div class="col-lg-10">
						<input type="text" name="TramObserva"
								class="form-control"
								[(ngModel)]="tramiteEnvio.TramObserva"
								>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="mostrarCtrlEnvio">
			<div class="form-group row" >				
				<label for="lblAdjunto" class="col-lg-2 col-form-label col-form-label-sm">Destinatario Interno</label>
				<div class="col-lg-2 form-check form-check-inline">
					<label class="form-check-label col-form-label-sm">
						<input type="radio" name="personal_ie" class="form-check-input " ng-model="personal.interno" value="true">
						Interno
					</label>
					<label class="form-check-label col-form-label-sm">
						<input type="radio" name="personal_ie"  class="form-check-input " ng-model="personal.interno" value="false">
						Externo
					</label>
				</div>
				<div  class="col-lg-2 form-check form-check-inline"><!---->
					<label class="form-check-label col-form-label-sm">
						<input type="radio" name="personal_oc" class="form-check-input" ng-model="personal.copia" value="false">
						Original
					</label>
					<label class="form-check-label col-form-label-sm">
					<input type="radio" name="personal_oc" class="form-check-input" ng-model="personal.copia" value="true">
						Copia
					</label>
				</div>
				<div class="form-group ">
					<label for="lblObserva" class="col-lg-1 col-form-label col-form-label-sm">Observa</label>
					<div class="col-lg-4">
						<input type="text"
								class="form-control"
								ng-model="personal.observa"
								>
					</div>
					<button class="btn btn-info btn-sm " pButton icon="fa-plus-circle" ng-click="buscarInterno()">
						
					</button>
				</div>
				
			</div>
		</div>
		<!--<div  class="col-sm-1"></div>-->
	<!--	<div class="col-sm-12" >
			<p-dataTable [value]="enviosPresentar"  scrollable="true"  
			selectionMode="single">				
				<p-column styleClass="col-button" [style]="{'width':'4em'}">
					<template pTemplate="header">
						<button type="button" pButton icon="fa-refresh"></button>
					</template>
					<template let-car="rowData" pTemplate="body" >						
						<button type="button" pButton (click)="deleteCar(car)" icon="fa-trash" class="btn"></button>
					</template>
				</p-column>
				<p-column field="TramNumero" header="TramNumero" [sortable]="true" [style]="{'width':'5.5em'}"></p-column>
				<p-column field="NombreEmisor" header="NombreEmisor" [sortable]="true" [style]="{'width':'8em'}"></p-column>
				<p-column field="TramFecha" header="TramFecha" [sortable]="true" [style]="{'width':'5em'}"></p-column>
				<p-column field="TramAsunto" header="TramAsunto" [sortable]="true" [style]="{'width':'10em'}"></p-column>
				<p-column field="TiDocAbrevia" header="TiDocAbrevia" [sortable]="true" [style]="{'width':'4em'}"></p-column>
			</p-dataTable>
		</div>-->
		<footer>
			<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">				
				<!--<button type="button" pButton icon="fa-check" (click)="cancel()" label="Cancelar"></button>-->
				<button type="button" pButton icon="fa-check" (click)="saveEnvio()" label="Guardar"></button>
				<button type="button" pButton icon="fa-close" (click)="enviarTramite()" label="Enviar" *ngIf="muestraEnviar"></button>
				
				
			</div>
		</footer>
	</form>
 </p-dialog>
